#winnerBox {
    /* display: none; */
    border-style: solid;
    border-color: purple;
    background-color: green;
    color: blue;
    text-align: center;
    display: none;
    align-items: center;
    z-index: 99;
    /* justify-content: center; */
}
body{
    background-image: url(assets/images/astrology-astronomy-background-image-956981.jpg);
    color:#8aec7b;
    font-size: 20px;
    display: flex;
}


.title {
    font-size: 40px;
    color: palevioletred;
    width: 100%
}
#gameTitle {
    width: 100%;
    position: relative;
    text-align: center;
}
#content {
    position: absolute;
    width: 90%;
    height: 80%;
    bottom: 0;
    left: 0;
    /* justify-content: center: */

}

#winsLossBox {
    background-color: purple;
    /* position: absolute; */
    z-index: 2;
    


}

#gameBox {
    background-color: black;
    /* position: absolute; */
}

#bottom-container {
    position: absolute;
    display: flex;
}

