body {
    width: 100%;
    padding-right: -10px;
    margin: auto;
    background-image: url(../images/astrology-astronomy-background-image-956981.jpg);
    color:#8aec7b;
    font-size: 20px;
}

#game-title {
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgb(93, 95, 164);
    color: palevioletred;
    font-size: 30px;
}
.boxes {
    width: 250px;
    height: 125px;

}

#guess-again{
  
}
#wins-loss

.row{
    margin-right: auto;
    margin-left: auto;
}

.info-row{
    justify-content: centered;
}

#big {
    padding-right: 0;
    margin-right: 0;
}


.main-game{
    text-align: center;
    color: darkblue;
    background-color: lightgrey;
}

#title {
    font-size: 40px;
    color: palevioletred;
    
}

#incorrect-message{
    display: block;
}

#left-box{
    
}

#winner-message{
    text-align: center;
    color: pink;
    display: none;

}
